{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load blog_tags %}
{% block body %}
  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog</h2>

          <ol>
            <li><a href="{% url 'website:index' %}">Home</a></li>
            <li><a href="{% url 'blog:blog' %}">Blog</a></li>
            <li>{{post.title}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="{{post.image.url}}" alt="Moderna website photo" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url 'blog:author' author_username=post.author.username %}">{{post.author}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{% url 'blog:single' pid=post.id %}"><time datetime="2020-01-01">{{post.published_date|date:"d M Y"}}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-eye"></i> <a href="{% url 'blog:single' pid=post.id %}">{{post.counted_views}} views</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% url 'blog:single' pid=post.id %}">{{comments|length}} Comments</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-folder">
                    {% for cat in post.category.all %}
                      <a href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </i>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{post.content}}
                </p>

                <img src="{% static 'img/blog/blog-inside-post.jpg' %}" class="img-fluid" alt="Moderna website photo">

                <h3>{{post.title}}</h3>
                <p>
                  Alias quia non aliquid. Eos et ea velit. Voluptatem maxime enim omnis ipsa voluptas incidunt. Nulla sit eaque mollitia nisi asperiores est veniam.
                </p>

              </div>

              <div class="entry-footer">

                <i class="bi bi-tags"></i>
                <ul class="tags">
                  {% for tag in post.tags.all %}
                  <a href="{% url 'blog:tag' tag_name=tag.name %}">{{tag.name}}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
                </ul>
              </div>

            </article><!-- End blog entry -->

            <div class="blog-author d-flex align-items-center">
              <img src="{% static 'img/blog/blog-author.jpg' %}" class="rounded-circle float-left" alt="Moderna website photo">
              <div>
                <h4>Mohadeseh</h4>
                <div class="social-links">
                  <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                </div>
                <p>
                  Itaque quidem optio quia voluptatibus dolorem dolor.
                </p>
              </div>
            </div><!-- End blog author bio -->

            <div class="blog-comments">

              <h4 class="comments-count">{{comments|length}} Comments</h4>
              {% for comment in comments %}
              <div id="comment-1" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="{% static 'img/blog/comments-1.jpg' %}" alt="Moderna website photo"></div>
                  <div>
                    <h5><a href="">{{comment.name}}</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">{{comment.created_date|naturaltime}}</time>
                    <p>
                      {{comment.message}}
                    </p>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- End comment #1 -->
              
                <div class="reply-form">
                  <form action="{% url 'blog:single' pid=post.id %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <input type="hidden" name="post" value="{{ post.id }}"/>
                      <div class="col-lg-4 col-md-4">
                        <p>Name *</p>
                        <input type="text" name="name" class="form-control"/>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <p>Email *</p>
                        <input type="email" name="email" class="form-control"/>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <p>Subject</p>
                        <input type="text" name="subject" class="form-control"/>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 comment-form-comment">
                        <p>Message</p>
                        <textarea name="message" class="form-control" id="message-box" cols="30" rows="10"></textarea>
                        <input type="submit" value="Post Comment" />
                      </div>
                    </div>
                  </form>
                  {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                  <li class="genric-btn primary" style="float: left;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                </div>

              </div>

            </div><!-- End blog comments -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              {% include 'blog/blog-search.html' %}

              {% postcategory %}

              {% latestpost %}
              
            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->
{% endblock %}